@model IEnumerable<GarageApp_MVC.Models.ParkedVehicle>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{

    @*@Html.RadioButton("RegNum","1",true);@Html.Label("Registration Number")*@
    @Html.RadioButton("searchBy", "RegNum",true)<text>RegistrationNumber</text>
    @Html.RadioButton("searchBy", "VType")<text>VehicleType</text>
     


    @Html.TextBox("search", null, new { @class = "form-control", placeholder = "Search for..." })<input type="submit" value="Search" class="btn btn-info" />
           



}
<table class="table" border="1">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Member.OwnerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleType.VType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfWheels)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeatCapacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParkingTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Member.OwnerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleType.VType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoOfWheels)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeatCapacity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParkingTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
