@model IEnumerable<GarageApp_MVC.Models.ViewModels.Overview>

@{
    ViewBag.Title = "OverViewIndex";
}

<h2>OverViewIndex</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OwnerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParkingTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParkingTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
