@model IEnumerable<GarageApp_MVC.Models.ParkedVehicle>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @using (Html.BeginForm())
    {

        <div>

            Enter Registration Number: @Html.TextBox("SearchStrng", null, new { @class = "form-control" })        @*After creating Search controoler,This part is done for search method*@
            Enter Model:@Html.TextBox("SearchMod", null, new { @class = "form-control" })
        </div>
        <div>
            <input type="submit" value="Search">
        </div>
    }
    </p>
    <br />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VehicleType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoOfWheels)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeatCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkingTime)
            </th>
                    </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoOfWheels)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SeatCapacity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParkingTime)
                </td>
              
              
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
