@model IEnumerable<GarageApp_MVC.Models.Member>

@{
    ViewBag.Title = "Index";
}

<h2>Register</h2>
@using (Html.BeginForm())
{
    <p>
        MemberName: @Html.TextBox("searchname")
        <input type="submit" value="Search For A Member" />
    </p>
}

<p>
    @Html.ActionLink("Register New Member", "../Members/Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.OwnerName)*@
            
                        @Html.ActionLink("OwnerName", "Index", new { sortorder = "OwnerName" })


                    
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mobile)
        </th>
        <th></th>
    </tr>


  
            @foreach (var item in Model)
        {
<tr>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerName)
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mobile)
            </td>
            <td>
                @Html.ActionLink("EditMemberDetails", "Edit", new { id=item.MemberId  }) |
                @Html.ActionLink("MemberDetails", "Details", new { id=item.MemberId }) |
                @Html.ActionLink("DeleteAMember", "Delete", new { id=item.MemberId  })
            </td>
        </tr>
    }

</table>
